<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="componente-header-jhony">
  <template>
    <style include="shared-styles">
      :host {
        display:inline;
      }
      .caja { 
        font-family: sans-serif; 
        font-size: 18px;  
        color: #ffffff; 
        background:#000080;
        width:560px;
        height: 150px;
      }
      
      main {
            column-count:3;
             background:#000080;
        }

        .micenter{
          margin-left: center;
          margin-right: center;
        }
        
    </style>
    <main>
      <center><img src="../bower_components/header_jhony/images/iconom.jpg" width="50" height="50"></center>
      <center><br><h1 style="color:#F5F5DC">[[prop1]]</h1></center>
      <center><img src="../bower_components/header_jhony/images/iconom.jpg" width="50" height="50"></center>
    </main>
  </template>

  <script>

    class ComponenteHeaderJhony extends Polymer.Element { 
      static get is() { return 'componente-header-jhony'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Jhony Fernando'
          }
        };
      }
    }

    window.customElements.define(ComponenteHeaderJhony.is, ComponenteHeaderJhony);
  </script>
</dom-module>
